* {
  font-family: Arial, Helvetica, sans-serif;
}
a {
  color: rgb(62 131 222);
}

html {
  background-color: #111;
}
body {
  padding: 0;
  margin: 0;
  color: #929292;
  background: linear-gradient(to bottom, #111, #222);
}

ul {
  padding: 0;
}
ul li {
  margin-left: 0;
  list-style-type: none;
}

header {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  align-items: baseline;
  max-width: 1000px;
  margin: 0 auto;
}

main {
  max-width: 1000px;
  margin: 0 auto;
}

.item {
  position: relative;
  margin-bottom: 50px;
}

.item .content {
  position: relative;
  display: flex;
  flex-direction: column;
}
#watch {
  min-height: 400px;
}
.item .content > div {
  height: 400px;
}
.item .content iframe {
  position: relative;
  z-index: 1;
}
.item .content .lds-dual-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.itemTitle {
  padding: 10px 20px;
  border-bottom: 1px solid #666;
  cursor: pointer;
}
.itemTitle:last-of-type {
  border-bottom-color: transparent;
}
.itemTitle:hover {
  background-color: rgba(10,10,10,.4);
}

.itemTitle.active {
  background-color: rgba(10,10,10,.8);
}

.timestamps  {
  padding-left: 0;
  padding-bottom: 40px;
}
.timestamps li {
  margin-bottom: 10px;
  list-style-type: none;
}
.timestamps .timestamp {
  border-bottom: 1px dotted currentColor;
  color: rgb(62 131 222);
  cursor: pointer;
}

#search {
  padding: 10px 20px;
  font-size: 14px;
  min-width: 200px;
  background: #434343;
  border-radius: 16px;
  color: #929292;
}

.searchWrap {
  position: relative;
  z-index: 3;
  top: -8px;
}
#searchResults {
  position: absolute;
  z-index: 1;
  top: 40px;
  right: 0;
  display: none;
  color: #bebebe;
  width: 650px;
  max-width: 100vw;
}
.searchWrap.show #searchResults {
  display: block;
}
.searchWrap.show #search {
  border-radius: 16px 16px 0 0;
}
#searchResults > div {
  padding: 15px 20px;
}
#searchResults ul {
  background-color: rgba(10,10,10,.8);
  border-radius: 16px 0 16px 16px;
  margin: 0;
  padding: 10px 0;
  border: 1px solid #555;
}
#searchResults ul li {
  list-style-type: none;
  cursor: pointer;
  padding: 8px 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  user-select: none;
}
#searchResults ul li .timestamp {
  color: rgb(62 131 222);
  border-bottom: 1px dotted currentColor;
}
#searchResults ul li:hover {
  background-color: rgba(50,50,50,.5);
}

#overlayVideo {
  position: absolute;
  display: none;
}
#overlayVideo.show {
  display: block;
}

#overlay {
  position: fixed;
  display: none;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.75);
}

body.showOverlay {
  overflow: hidden;
}

body.showOverlay #overlay {
  display: block;
}

footer {
  display: block;
  padding: 20px 0;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}
footer nav ul {
  padding: 0;
}
footer nav ul li {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 10px;
  list-style-type: none;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #929292;
  border-color: #929292 transparent #929292 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
